// imported libraries
@import "bootstrap";
// imported styling files
@import "./articles";
// fronts
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");
// default style classes
// global vars used
$light-color: #ffffff;
html {
  height: 100%;
}
body,
#root {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  background: $light-color;
}
.main-background {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
