//ArticleCard styles
.article-card-title {
  min-height: 140px;
  text-align: center;
  font-size: 1.1rem !important;
}
.article-card-action {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.article-card-content-background {
  background-color: #394640;
  color: white;
}
.article-card-info {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}
// ArticleOptions styles
.article-options-main-div {
  min-height: 70px;
  background: #274146;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 2;
  border-radius: 0 0 10% 10%;
}
.article-options-more-button {
  margin-right: 15px !important;
  color: #fff !important;
  box-shadow: 0px 0px 2px 0px;
}
@include media-breakpoint-down(sm) {
  .article-options-main-div {
    flex-direction: column;
  }
  .article-options-more-button {
    margin-right: 0px !important;
  }
}
// ArticleCategories styles
.article-categories-info {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.article-categories-active {
  border: 1px solid #274146 !important;
  box-shadow: 0px 0px 2px 0px;
  border-radius: 5% !important;
}
.loading-progress-div-style {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100%;
}
